.sidebar {
    width: 250px;
    height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #e0e0e0;
    padding: 20px 0;
    position: fixed;
    left: 0;
    top: 64px; /* 네비게이션 바 높이만큼 아래로 */
    bottom: 0;
}



.sidebar-header {
    padding: 0 20px 20px 20px;
}

.sidebar-header h2 {
    font-size: 24px;
    margin: 0;
    font-weight: normal;
}

.sidebar-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li {
    padding: 10px 20px;
}

.sidebar-nav li a {
    color: #000000;
    text-decoration: none;
    font-size: 16px;
    display: block;
}

.sidebar-nav li a:hover {
    color: #666666;
}
