.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  flex: 1;
  padding-top: 64px; /* 네비게이션 바 높이만큼 여백 */
}

.content {
  margin-left: 240px; /* 사이드바 너비만큼 여백 */
  margin-right: 40px; /* 사이드바 너비만큼 여백 */
  width: calc(100% - 200px); /* 전체 너비에서 사이드바 너비를 뺀 만큼 설정 */
  padding: 20px;
}